/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* Optional: Makes the sample page fill the window. */
html, body {
  
}

#map {
  height: 400px;

}

#battle {

}

.container-fluid {
	height: 100%;
    background-color: #2185C5;
    position: relative;
    border: 3px solid blue;
}

#pokedex-window {
	width: 80%;
    height: 600px;
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    border: 3px solid red;
}