/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* Optional: Makes the sample page fill the window. */
body {
    height: 100%;
    margin: 0;
}

h1 {
    text-align: center;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 35px;
    background-color: white;
}

#battle {
    width: 100%;
    height: 100%;
    margin: 3px, 3px;
    border: 1px solid black;
    border-radius: 35px;
    position: relative;
}

#battle-window {
    width: 80%;
    height: 600px;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    position: relative;
    border: 3px solid blue;
    border-radius: 35px;
    background: lime radial-gradient(white, lime);
}

#pokedex-window {
    width: 80%;
    height: 600px;
    margin-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    position: relative;
    border: 3px solid blue;
    background: rgb(16%, 79%, 54%) linear-gradient(to bottom, white, rgb(16%, 79%, 54%));
    border-radius: 35px;
}

.container-fluid {
  height: 100%;
    background-color: #ff0008;
    position: relative;
    border: 1px solid blue;
}

#map-button {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-left: 15px;
}

#pokeball-button {
    width: 125px;
    height: 125px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

#battle-footer {
    height: 20%;
    width: 100%;
    border: 3px solid black;
    position: absolute;
    bottom: -2px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}